# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8.2
language: objective-c

env:
  - SDK="iphoneos10.2"

# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- xcodebuild clean test build -workspace Example/RGInnerBadgeButton.xcworkspace -scheme RGInnerBadgeButton-Example -destination 'platform=iOS Simulator,name=iPhone SE,OS=10.2' | xcpretty
- pod lib lint
